<div class="event-view">
    <h1 class="event-title">{{evento.nombre}}</h1>
    
    <div class="event-header">
      <img [src]="evento.imagenPortada" alt="Imagen del evento" class="event-image">
    </div>
    
    <p class="event-description">
      {{evento.descripcion}}
    </p>
    
    <div class="event-details-panel">
      <div class="event-details">
        <h2>Detalles del Evento</h2>
        <p><strong>Nombre: </strong>{{evento.nombre}}</p>
        <p><strong>Ubicación: </strong>{{evento.ciudad}} - {{evento.direccion}}</p>
        <p><strong>Fecha: </strong>{{evento.fecha}}</p>
        <img [src]="evento.imagenLocalidad" alt="Detalles del evento" class="details-image">
      </div>

      <!-- PANEL PARA COMPRAR -->
      <div class="event-details">
        <h2 style="color: black;">Comprar Entradas</h2>
        <!-- Contenedor de los combobox dinámicos -->
          <div class="combobox-group">
            <h3>Escoja la localidad que desea</h3>
              <div class="dropdown-container">
                <select 
                  class="custom-combobox" 
                  aria-label="Selecciona la localidad" 
                  [(ngModel)]="localidad" 
                  (ngModelChange)="localidadSeleccionada()">
                  <option [ngValue]="null" disabled selected>Localidad</option>
                  @for (localidad of evento.localidades; track $index){
                    <option [ngValue]="localidad">{{ localidad.nombre }} - {{ localidad.precio| currency }}</option>
                  }
                </select>
              </div>
            <h3>Selecciona la cantidad de boletos</h3>
            <div class="dropdown-container">
              <input
                type="number"
                class="custom-combobox"
                aria-label="Selecciona la cantidad"
                [(ngModel)]="cantidadSeleccionada"
                [min]="0"
                [max]="maxCantidad"
                (input)="validarCantidad()"
              />
            </div>
          </div>
        <!-- Botones de acción -->
        <div class="button-group">
          <button (click)="agregarAlCarrito()" class="action-button">Agregar al carrito</button>
        </div>
      </div>
    </div>
  </div>
  